%label.label Additional Stops / Fees
%p.control
  %span.select.is-fullwidth
    %select
      %option No
      %option Yes (Provide Details)
%label.label.wait-detail 
  Details
%p.control.wait-detail
  %textarea.textarea{:placeholder => "Textarea"}
%p.control
  %button.button.is-primary.is-fullwidth Driver On-Site
