- needs_conf = !reservation['reconfirmed'] && reservation['res_datetime'] < Time.now + (12*60*60)
- header_color = needs_conf  ? '#ffdd57' : '#333333'
%header.card-header.is-primary{:style => "background-color: #{ header_color }"}
  %p.card-header-title{:style => "color: white; text-align: center;"}
    = DateTime.parse(reservation['res_datetime']).strftime("%^a %-m/%-d/%Y %l:%M %p")
