.modal.terms-and-conditions
  .modal-background
  .modal-container
    .modal-content
      .card.is-fullwidth
        %header.card-header
          %p.card-header-title
            Terms and Conditions
          %a.card-header-icon
            %i.fa.fa-angle-down
        .card-content
          .content
            %p
              1. All clients should be serviced under the name of Aces Town Car Service. Poaching or the attempt of poaching our clients will result in the immediate removal from our affiliate network. We have zero tolerance for practices that are not honorable. Handing a client a business card for your company, your personal number to sidestep Aces and gain them as your personal client will result in the end of your relationship with Aces.
            %p
              2. Please arrive 10 minutes ahead of scheduled reservation and click the begin trip button to inform the client that you have arrived. In the event that you are going to be late, inform the client as far enough in advance as possible by calling them.
            %p
              3. Please make sure to hang the Aces Town Car Service tag from your rearview mirror when picking up clients that you have agreed to provide service to. This will allow Aces clients to identify your car as the correct vehicle. Please remove any other apps or signs for other companies that you may be using at the time of servicing an Aces client.
            %p
              4. Please refrain from talking on the phone during your time with an Aces client. Our clients sometimes enjoy conversation with you. Sometimes they enjoy music. Sometimes they enjoy the quiet. Clients never enjoy listening to someone talking on their phone.
            %p
              5. A survey will be sent out at the end of your trip to ask how they enjoyed their ride with you. We are happy to share any and all feedback that is received from the survey with you so that you know you're doing a great job or if there are areas that need improvement. We have a zero tolerance policy to hold us to the highest standard of quality and will not tolerate anything that risks that standard.
            %p
              6. In the event that you are unable to service an Aces client that you have contracted to service, you must let Aces Town Car Service know 12 Hours prior to the cancellation so that we are able to make other arrangements for the client. If you are unable to service the client with less than 12 hours notice, it may lead to the end of your relationship with Aces. Failure to show for the client that you have confirmed to service will result in the immediate end of your partnership with Aces.
        %footer.card-footer
          %a.card-footer-item.close-modal Close
