.modal.timed-out
  .modal-background
  .modal-container
    .modal-content
      .card.is-fullwidth
        %header.card-header
          %p.card-header-title
            Timed Out
          %a.card-header-icon
            %i.fa.fa-angle-down
        .card-content
          .content
            Refesh the page for current info.
        %footer.card-footer
          %a.card-footer-item.reload Refresh
